<div class="filter-container bg-white rounded-lg shadow-sm w-1/2">
    <div class="flex flex-col md:flex-row items-center p-2">
      <div class="form-group flex-grow">
        <div class="relative">
          <select [formControl]="serialFilter" id="serialFilter" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 rounded-md">
            <option value="">Todos los equipos</option>
            <option *ngFor="let serial of availableSerials" [value]="serial">
              {{ serial }}
            </option>
          </select>
          <div *ngIf="isLoading" class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
            <svg class="animate-spin h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
          </div>
        </div>
      </div>

      
      <button 
        (click)="clearFilter()" 
        class="bg-gray-200 hover:bg-gray-300 text-gray-700 px-2 py-2 rounded flex items-center ml-4"
        *ngIf="serialFilter.value">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>Limpiar
      </button>
    </div>
  </div>