<div class="dashboard-stats grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 pt-5">
  <div class="stat-card bg-white rounded-lg shadow-md p-4">
    <div class="stat-icon warning-icon">
      <img src="../../../../assets/icons/warning.png" alt="Ícono de alerta" class="icon w-10 h-10">
    </div>
    <div class="stat-content mt-3">
      <p class="stat-title text-sm text-gray-500">Alertas</p>
      <h4 class="stat-value text-2xl font-bold">0</h4>
    </div>
    <div class="stat-footer mt-3">
      <p class="text-sm">
        <strong class="positive text-green-500">{{localdata}}</strong> ultima lectura
      </p>
    </div>
  </div>
  
  <div class="stat-card bg-white rounded-lg shadow-md p-4">
    <div class="stat-icon users-icon">
      <img src="../../../../assets/icons/task.png" alt="Ícono de alerta" class="icon w-10 h-10">
    </div>
    <div class="stat-content mt-3">
      <p class="stat-title text-sm text-gray-500">Tareas</p>
      <h4 class="stat-value text-2xl font-bold">5</h4>
    </div>
    <div class="stat-footer mt-3">
      <p class="text-sm">
        <strong class="positive text-green-500">{{localdata}}</strong> ultima lectura
      </p>
    </div>
  </div>

  <div class="stat-card bg-white rounded-lg shadow-md p-4">
    <div class="stat-icon clients-icon">
      <img src="../../../../assets/icons/dispositivos.png" alt="Ícono de alerta" class="icon w-10 h-10">
    </div>
    <div class="stat-content mt-3">
      <p class="stat-title text-sm text-gray-500">Equipos</p>
      <h4 class="stat-value text-2xl font-bold">1</h4>
    </div>
    <div class="stat-footer mt-3">
      <p class="text-sm">
        <strong class="positive text-green-500">{{localdata}}</strong> ultima lectura
      </p>
    </div>
  </div>

  <div class="stat-card bg-white rounded-lg shadow-md p-4">
    <div class="stat-icon sales-icon">
      <img src="../../../../assets/icons/eventos.png" alt="Ícono de alerta" class="icon w-10 h-10">
    </div>
    <div class="stat-content mt-3">
      <p class="stat-title text-sm text-gray-500">Eventualidades</p>
      <h4 class="stat-value text-2xl font-bold">3</h4>
    </div>
    <div class="stat-footer mt-3">
      <p class="text-sm">
        <strong class="positive text-green-500">{{localdata}}</strong> ultima lectura
      </p>
    </div>
  </div>
</div>