<div class="card shadow-lg rounded-lg">
  <div class="card-header bg-secondary text-white rounded-t-lg">
      <h5 class="card-title mb-0 text-center">Medición de Ph</h5>
    </div>
    <div class="card-body flex flex-col items-center justify-center">
        <div id="main" class="w-full h-[300px] flex justify-center items-center">
        <igx-linear-gauge
          #linearGauge
          height="100px"
          width="100%"
          minimumValue="0"
          maximumValue="100"
          value="50"
          interval="10"
          labelInterval="10"
          labelExtent="0.02"
          minorTickEndExtent="0.10"
          minorTickStartExtent="0.20"
          tickStartExtent="0.25"
          tickEndExtent="0.05"
          tickStrokeThickness="2"
          needleShape="Needle"
          needleBrush="#79797a"
          needleOutline="#79797a"
          scaleStrokeThickness="0"
          scaleBrush="#ffffff"
          scaleOutline="#d3d3d3"
          backingBrush="#ffffff"
          backingOutline="#d1d1d1"
          backingStrokeThickness="0">
        </igx-linear-gauge>
      </div>
      <div class="mt-2 flex flex-col items-center">
        <p class="mb-1"><strong>Valor actual:</strong> {{ currentValue }}%</p>
        <p class="mb-1"><strong>Estado:</strong> {{ status }}</p>
        <p class="mb-0"><strong>Última actualización:</strong> {{ lastUpdate }}</p>
      </div>
    </div>
  </div>
  