<div class="dashboard-stats">
    <div class="stat-card">
        <div class="stat-icon warning-icon">
            <img src="../../../../assets/icons/warning.png" alt="Ícono de alerta" class="icon">
        </div>
        <div class="stat-content">
          <p class="stat-title">Alertas</p>
          <h4 class="stat-value">10</h4>
        </div>
        <div class="stat-footer">
          <p>
            <strong class="positive">28/01/2025</strong> ultima lectura
          </p>
        </div>
      </div>
      
    <div class="stat-card">
        <div class="stat-icon users-icon">
          <img src="../../../../assets/icons/task.png" alt="Ícono de alerta" class="icon">
        </div>
        <div class="stat-content">
          <p class="stat-title">Tareas</p>
          <h4 class="stat-value">20</h4>
        </div>
        <div class="stat-footer">
          <p>
              <strong class="positive">28/01/2025</strong> ultima lectura
            </p>
        </div>
      </div>
      <div class="stat-card p-20">
        <div class="stat-icon clients-icon">
          <img src="../../../../assets/icons/dispositivos.png" alt="Ícono de alerta" class="icon">
        </div>
        <div class="stat-content">
          <p class="stat-title">Equipos</p>
          <h4 class="stat-value">5</h4>
        </div>
        <div class="stat-footer">
          <p>
              <strong class="positive">28/01/2025</strong> ultima lectura
            </p>
        </div>
      </div>
      <div class="stat-card">
        <div class="stat-icon sales-icon">
          <img src="../../../../assets/icons/eventos.png" alt="Ícono de alerta" class="icon">
        </div>
        <div class="stat-content">
          <p class="stat-title">Eventualidades</p>
          <h4 class="stat-value">9</h4>
        </div>
        <div class="stat-footer">
          <p>
              <strong class="positive">28/01/2025</strong> ultima lectura
            </p>
        </div>
      </div>
  </div>

  